* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Barlow", sans-serif;
  background-color: #eff6ff;
  height: 100%;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 90vh;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  
}
.photo-logo {
  position: relative;
}

.main-photo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.text {
  width: 50%;
  padding: 60px;
  overflow-y: auto;
  height: 100%;
  color: #2a4a5c;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 40px;
  top: 3px;
}

h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.there {
  margin-bottom: 30px;
}

.social-buttons {
  justify-content: space-between;
  gap: 20px;
}

.registr {
  color: #ffffff;
  margin-left: 15px;
}

button img{
  width: 20px;
  height: 20px;
}

.with-f:hover {
  cursor: pointer;
  background-color: #0076b6;
}

.with-in:hover {
  cursor: pointer;
  background-color: #255a9b;
  transition: 0.3s;
}

.with-f {
  display: flex;
  background-color: #255a9b;
  border: 0px;
  padding: 8px 15px;
  align-items: center;
}
.with-in {
  display: flex;
  background-color: #0076b6;
  border: 0px;
  padding: 8px 15px;
  align-items: center;
}

.line {
  height: 1px;
  width: 90px;
  background: #ccc;
}

.or {
  font-size: 12px;
  margin: 0 10px;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.text-area {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.email-container,
.name-container {
  position: relative;
}
.email-container label,
.name-container label {
  position: absolute;
  top: 9px;
  left: 15px;
  font-size: 10px;
  font-weight: 400;
}

.na-em {
  padding: 10px;
  height: 45px;
  padding-top: 20px;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
}

.na-em:focus {
  border-left: 2px solid #0076b6;
}

h3 {
  font-weight: 550;
  margin-top: 50px;
  margin-bottom: 10px;
}

.social-buttons {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 40px 0px;
}

input {
  margin: 5px;
}

input:hover {
  cursor: pointer;
}

a {
  color: #3698fb;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: gray;
  width: 4px;
}

.mini-tooltip {
  background-color: #fafdff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
}

.tool-text {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  color: #818181;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 4px;
  position: absolute;
  padding: 6px;
  z-index: 1;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-size: 14px;
}
.trust {
  position: absolute;
  left: -40px;
}

.tooltip:hover .tool-text {
  visibility: visible;
  opacity:1;
  transition: 0.3s;
}

.create-acc {
  margin-top: 20px;
  padding: 10px 40px;
  color: #fff;
  background-color: #3698fb;
  border: 1px solid;
  border-radius: 4px;
}
.create-acc:hover {
  background-color: rgb(36, 85, 151);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
  }
  .photo-logo {
    position: relative;
  }

  .main-photo {
    width: 100%;
    height: 250px;
  }

  .logo {
    position: absolute;
    top: 170px;
    left: 8px;
  }
  .text {
    padding: 30px 15px;
    width: 100%;
  }

  ul {
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }

  .social-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .with-f,
  .with-in {
    justify-content: center;
  }

  .create-acc {
    width: 100%;
  }
}
